<div class="min-h-screen flex flex-col bg-[var(--color-background)]">
    <app-header></app-header>
    <app-flash-sale-banner />
    <main class="flex-grow w-full">
        <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>
    <app-floating-menu></app-floating-menu>
    <app-floating-chat></app-floating-chat>
    <app-cart-drawer></app-cart-drawer>
    <app-product-quickview></app-product-quickview>
</div>

<app-auth-modal [isOpen]="modalState.isAuthModalOpen()" (close)="modalState.closeAuthModal()"
    (loginSuccess)="onAuthModalLoginSuccess()">
</app-auth-modal>

<app-toast-container />
